name: Release

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on: issue_comment

jobs:
  release:
    if: contains(github.event.comment.body, '/approve-release') && github.event.comment.author_association == 'OWNER'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Get release candidate
        id: get_data
        uses: ./.github/actions/get_data

      - name: Download artifact
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          workflow: main.yaml
          run_id: ${{ steps.get_data.outputs.run_id }}
          name: executable
          name_is_regexp: true
          path: ./executables/

      - name: create release
        id: create_release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: ${{ steps.get_data.outputs.version }}
          name: Release ${{ steps.get_data.outputs.version }}
          draft: false
          prerelease: false
          files: ./executables/*/*

      - uses: lee-dohm/close-matching-issues@e9e43aad2fa6f06a058cedfd8fb975fd93b56d8f # v2
        if: success()
        with:
          query: 'label:release-candidate'
          token: ${{ secrets.GITHUB_TOKEN }}
